body{
    background-image: url("../image/wallpapaer1.png");
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    position: center;
    background-attachment: fixed;
}

.login{
    background-color: aqua;
}